
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@200&display=swap');

body {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: 'roboto';
    font-size: 18px; */
    line-height: 1.6em;
    font-weight: normal;

    font: normal 20px 'Roboto';
    /* text-decoration: line-through; */
    /* font-style: italic; */
    /* word-spacing: 20px; */

}

.css p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    
}